.port_con {
    max-width: 1170px;
    margin: 0 auto;
    height: 900px;
    overflow: hidden;

    & .port_titer {
        margin-top: 40px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    & .port_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        & .port_item {
            margin-top: 60px;

            & img {
                width: 300px;
                height: 300px;
                border-radius: 20px;
                object-fit: cover;
            }

            & p {
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .port_con {
        height: auto;

        & .port_list {
            grid-template-columns: 1fr;

            & .port_item {
                margin-top: 30px;
                padding: 0 20px;
                width: 100%;

                & img {
                    width: 100%;
                }

                & p {
                    padding: 0 20px;
                }
            }
        }
    }
}